
body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  p {
    color: black;
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
    -webkit-text-stroke: 1px white;
  }
  h1 {
    font-weight: bold;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: cornflowerblue;
  }
  h2 {
    color: chocolate;
    font-size: 40px;
    margin: 5px;
    text-align: center;
    font-family:monospace;
  }
  .wrapper {
    width: 100%;
    display: flex;
  }
  .left {
    width: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  .right {
    width: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    left: 100%;
  }
  .bookmark {
    background: antiquewhite;
    border: 0.2em solid black;
    padding: .2em 0.5em;
    border-radius: 10px;
    color: black;
    text-decoration: none;
  
  }
  
  .no-highlight{
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;
  }
  .side {
    text-align: left;
    margin: 1px;
  }